* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

/* start nav top */

.nav-top {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    /* align-items: center; */
}

.nav-top .nav-left i {
    margin-right: 20px;
}
.nav-top .nav-left input {
    height: 30px;
    border-radius: 50px;
    border: none;
    outline:rgb(224, 224, 224);
    padding-left: 20px;
    font-size: 15px;

}
.nav-top .nav-left input:hover{
    background-color: rgb(247, 247, 247);
}
.nav-top .nav-midlle {
    /* font-size: 30px; */
    border: 4px solid black;
    /* padding: 10px; */
    /* align-items: center; */
    height: 40px;
    position: relative;
    width: 160px;
    margin-right: 100px;

}

.nav-midlle h3 {
    position: absolute;
    /* border: 2px solid rgb(52, 138, 35); */
    height: 40px;
    width: 160px;
    top: 1px;
    left: 3px;
    font-size: 20px;
    font-weight: bold;

}

.nav-top .nav-right i {
    text-decoration: none;
    color: gray;
    padding-left: 20px;
    position: relative;
}
.nav-top .nav-right i:hover {
    color: rgb(200, 196, 196);
}
.nav-top .nav-right sup {
    position: absolute;
    border: 1px solid blue;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 32, 168);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 50%;
    bottom: 10px;
    right: -12px;


}
/* end nav top  */

/* start nav bottom */

.nav-bottom {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.nav-bottom a {
    text-decoration: none;
    color: black;
    margin: 20px;
}
.nav-bottom a:hover {
    color: blueviolet;
    
}
/* end nav bottom */

.SHOP {
    background-color: rgb(234, 238, 246);
    height: 60px;
    width: 100%;
    margin-top: 50px;
}

.p-1 {
    font-size: 20px;
    padding: 15px 0px 0px 50px;
    text-transform: capitalize;
    cursor: pointer;
    color: blueviolet;
    width: 15%;

}

/* start section 1 */

.sec-1 {
    width: 100%;
    height: 600px;
    text-align:  center;
    margin-top: 100px;

}

.sec-1 .icon {
    font-size: 100px;
    color: green;
    margin-bottom: 20px;
}

.sec-1 h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

.sec-1 p {
    font-size: 20px;
    color: darkgrey;
    margin-bottom: 100px;
}

.sec-1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);


}

.sec-1 button {
    background-color: #ff02fb;
    border: none;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    transition: all 1s ease;
    border-radius: 5px;
}

.sec-1 button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translate(0px , -5px);
}

/* end section 1 */

/* start section -6 */
.sec-6 {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.sec-6 .li-1 {
    display: flex;
    /* background-color: blueviolet; */
    /* color: darkgrey; */
    
}
.sec-6 .ul {
    list-style-type: none;
    margin: 40px;
    line-height: 2;
    

}
.sec-6 .h-4 {
    padding-bottom: 20px;
    text-transform: capitalize;
}

.sec-6 img {
    padding-bottom: 15px;
    border-radius: 10px;
}
.sec-6 .ofer {
    text-transform: capitalize;
    /* color: darkgrey; */
}
/* .sec-4 h5 {
    color: darkgray;
} */

.sec-6 .fa-solid {
    color: rgb(130, 26, 227);
    align-items: center;
    margin-right: 10px;
    

}
.sec-6 .contact {
    display: flex;
    line-height: 2.5;
}
.sec-6 .sub {
    padding-bottom: 10px;
    padding-top: 40px;
}
.sec-6 button {
    background-color: #ff02fb;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    transition: all 1s ease;
    border-radius: 5px;    

}
.sec-6 button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translate(0px , -5px);
}
.sec-6 input {
    height: 40px;
    
}

/* start footer */
footer {
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: bold;
}
footer .fa-solid {
    color: red;
}
footer a {
    text-decoration: none;
    color: rgba(139, 0, 139, 0.455);
}
/* end footer */